body{
    margin: 0;
    /* background-image: url("https://www.spacex.com/static/images/backgrounds-2021/HP_SN11_Vertical_20210311_IMG_01221.webp") ;
    background-repeat: no-repeat;
    background-size: cover; */
}

header {
    min-width: 1080px;
    height: 100px;
}

#wrapper{
    width: 1920px;
    height: 100px;
    display: flex;
    position:fixed;
}

.nav-links{
    list-style: none;
    width: 35%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    left: 225px;
    font-size: 15px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#logo{
    height: 100px;
    width: 275px;
    position: relative;
    left: 250px;
}

.inner-header{
    display:flex;
    width:100%;
}

#menu-icon{
    height: 15px;
    width: 15px;
}

.menu-button{
    position: relative;
    display: flex;
    align-items: center;
    right: 25px;
}

.shop-button{
    position: relative;
    display: flex;
    align-items: center;
    right: 105px;
    top: 1px;
    font-size: 15px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-one{
    background-image: url("https://www.spacex.com/static/images/backgrounds-2021/HP_SN11_Vertical_20210311_IMG_01221.webp") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 100%;
}

.section-two{
    background-image: url('https://i.pinimg.com/originals/5e/c4/cb/5ec4cb818f99ec9abba66f6e6cb13242.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width:100%;
}


#flight-test{
    height: 300px;
    width: 500px;
    position:absolute;
    bottom: 15%;
    right: 15%;
}

#flight{
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-top: 100px;
}

#flight-head{
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin: 0;
    margin-bottom: 25px;
}

.replay-button{
    height: 50px;
    width: 175px;
    border: 2px solid black;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
}